{# Redirect to the homepage if no email was received #}
{% set email = craft.app.request.getParam('email') %}
{% if email is empty %}{% redirect siteUrl %}{% endif %}

{% extends '_layouts/site' %}

{% set id = 'newsletter-unsubscribed' %}
{% set title = 'Subscribed' %}

{% set content %}
    {#
     # The variable notice is set to a string that uses twig string interpolation.
     # Just another way of doing 'Part one ' ~ someVar ~ ' part two'.
     # Yes, double quotes are required for string interpolation.
    #}
    {% set error = "You are free, no more emails sent to #{email} 😉" %}

    {% include '_special/error' with {error: error} only %}
{% endset %}
