{% extends "v2/_layout" %}

{% set id = "blog-entry" %}
{% set title = entry.title %}
{% set heroStyles = "" %}

{% if not currentUser %}
    {% do craft.topStories.incrementCount(entry.id) %}
{% endif %}

{% set image = entry.image.first() %}

{% set content %}
<section class="hero has-text-centered is-medium is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                {{ entry.title }}
            </h1>
            <p>
                Written by <a href="{{ craft.ini.author.twitter }}"><strong>{{ craft.ini.author.name }}</strong></a>
            </p>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <main class="column">
                <article class="entry">
                    {# Only use a cover images for blog entry types #} {# Other types include media #}
                    <div class="content">
                        {{ entry.body.html({addHeaderAnchors: false}) }}
                    </div>
                    <div class="block-centered">
                        <p>
                            <a href="#blog-entry" title="To Top">
                                <span class="icon-up-open-big"></span>
                            </a>
                        </p>
                    </div>
                </article>
            </main>
        </div>
    </div>
</section>
{% endset %}
