{% extends "v2/_layout" %}

{% set id = 'index' %}
{% set title = craft.ini.site.defaultTitle %}

{% set content %}
    {% cache using key 'index' unless true %}
        {# Naming it article rather than entry so that default metadata is used #}
        {% set articleCriteria = {} %}
        {% if currentUser and currentUser.admin %}
            {% set articleCriteria = {} %}
        {% endif %}

        {% set articles = craft.entries.section('blog').find(articleCriteria) %}

        <section class="articles">
            <div class="container">
                {% for article in articles %}
                    <div class="article">
                        {% include 'v2/_includes/entry-preview' with {entry: article} %}
                    </div>
                {% endfor %}
            </div>
        </section>
    {% endcache %}
{% endset %}
