<footer class="footer">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="content has-text-centered">
                    <p class="subtitle is-5 is-heavy is-inset">
                        &copy;{{ "now"|date("Y") }} CraftX<sup>&trade;</sup> | Minneapolis, MN, USA.
                        <br>
                        All Content Copyrighted.
                    </p>
                    <p class="subtitle is-5 is-heavy">
                        <a href="/terms">Terms</a>
                        |
                        <a href="/privacy">Privacy</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="is-full column">
                <div class="hero-icons has-text-centered">
                    <nav>
                        <a href="https://twitter.com/craftxio" title="Craft X on Twitter" target="_blank">
                            <span class="icon is-large"><i class="fa fa-twitter-square"></i></span>
                        </a>
                        <a href="https://github.com/craftx" title="Craft X on Github" target="_blank">
                            <span class="icon is-large"><i class="fa fa-github-square"></i></span>
                        </a>
                        <a href="mailto:support@craftx.io" title="support@craftx.io">
                            <span class="icon is-large"><i class="fa fa-envelope-square"></i></span>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>
