<div class="text-center">
    <h2>Stay in the loop</h2>
    <p class="lead text-muted">
        <i class="fa fa-shield"></i>
        I will not share nor sell your information and I will only use it to notify you about the official launch of the channel and when new content is published.
    </p>
</div>
<div>
    <form method="post" @submit="subscribe($event)">
        <div class="form-group row">
            <div class="col-md-6 col-lg-4">
                <input v-model="name" id="name" name="name" type="text" class="form-control input-lg" placeholder="Name (optional)">
            </div>
            <div class="col-md-6 col-lg-4">
                <input v-model="email" id="email" name="email" type="email" class="form-control input-lg" placeholder="Email" required>
            </div>
            <div class="col-md-12 col-lg-4">
                <p class="hidden-lg">&nbsp;</p>
                
                <template v-if="subscribing">
                <button class="btn btn-block btn-lg btn-primary">
                <i class="fa fa-spinner fa-spin"></i>
                </button>
                </template>
                
                <template v-if="!subscribing">
                <button class="btn btn-block btn-lg btn-primary">
                <i class="fa fa-envelope-o"></i>
                Subscribe
                </button>
                </template>
            </div>
        </div>
    </form>
</div>