<section class="section section--hero is-bold has-text-centered">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1 is-inset">Craft Training for Busy Developers</h1>
            <h2 class="subtitle is-3 is-inset">
                You want to learn Craft CMS and build full featured sites and plugins.
                I will teach you in the most effective and efficient way possible.
            </h2>
            <div class="hero-buttons has-text-centered">
                <button id="cta" @click.prevent="loadSubscriptionForm" class="button is-large is-info is-heavy is-inset-inverted" :class="{ 'is-loading': checkingOut }">
                    <i class="fa fa-terminal is-blinking"></i>
                    Start Hacking
                </button>
            </div>
        </div>
    </div>
</section>
