<nav class="nav is-medium has-shadow">
  <div class="container">
  <div class="nav-left">
    <a href="/" class="nav-item nav__brand" title="Craft X">
      <img src="/dist/images/CraftX.svg" alt="Craft X Logo">
    </a>
  </div>

  <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
  <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
  <span class="nav-toggle" @click="toggleMobileNav">
    <span></span>
    <span></span>
    <span></span>
  </span>

  <!-- This "nav-menu" is hidden on mobile -->
  <!-- Add the modifier "is-active" to display it on mobile -->
  <div class="nav-right nav-menu" :class="{ 'is-active': mobileNavIsActive }">
    {% if user %}
        <span class="nav-item">
          <a href="/@{{ user.username }}" class="button is-primary" title="Dashboard">
            <span class="icon"><i class="fa fa-map-signs"></i></span>
            <span>Dashboard</span>
          </a>

          <a href="/logout" class="button" title="Logout">
            <span class="icon"><i class="fa fa-sign-out"></i></span>
            <span>Logout</span>
          </a>
        </span>
      {% else %}
        {% if craft.app.request.segment(1) is not empty %}
          <a href="/" class="nav-item" title="Craft X">Home</a>
        {% endif %}

        <span class="nav-item">
          <a href="/login" class="button" title="Login">
            <span class="icon"><i class="fa fa-sign-in"></i></span>
            <span>Login</span>
          </a>

          <a title="/signup" class="button is-info" title="Sign up today and start hacking Craft CMS">
            <span class="icon"><i class="fa fa-graduation-cap"></i></span>
            <span>Sign Up</span>
          </a>
        </span>
      {% endif %}
  </div>
  </div>
</nav>
