{% set firstSegment = craft.app.request.segment(1) %}

<nav id="nav" class="nav is-medium has-shadow nav--primary">
  <div class="container">
    <div class="nav-left">
      <a href="/" class="nav-item is-tab nav__brand" title="CraftX">
        <img src="/dist/images/CraftX.svg?v=2.1" alt="CraftX Logo">
      </a>
    </div>

    <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
    <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
    <span class="nav-toggle" @click="toggleMobileNav">
      <span></span>
      <span></span>
      <span></span>
    </span>

    <!-- This "nav-menu" is hidden on mobile -->
    <!-- Add the modifier "is-active" to display it on mobile -->

    <div class="nav-right nav-menu" :class="{ 'is-active': mobileNavIsActive }">
      <a href="/hangouts" class="nav-item is-tab {{ firstSegment == 'hangouts' ? 'is-active' }}" title="Hangouts">
        <span class="icon">
          <i class="fa fa-comments-o"></i>
        </span>
        <span>Hangouts</span>
      </a>
      {% if user %}
          <a href="/@{{ user.username }}" class="nav-item is-tab {{ firstSegment == '@' ~ user.username ? 'is-active' }}" title="Dashboard">
            <span class="icon">
              <i class="fa fa-desktop"></i>
            </span>
            <span>Dashboard</span>
          </a>

          <a href="/logout" class="nav-item is-tab" title="Logout">
            <span class="icon">
              <i class="fa fa-sign-out"></i>
            </span>
            <span>Logout</span>
          </a>
        {% else %}
          <a href="/join" class="nav-item is-tab {{ firstSegment == 'join' ? 'is-active' }}" title="Join our Community">
            <span class="icon">
              <i class="fa fa-heart-o"></i>
            </span>
            <span>Join</span>
          </a>
          <a href="/login" class="nav-item is-tab {{ firstSegment == 'login' ? 'is-active' }}" title="Login">
            <span class="icon">
              <i class="fa fa-sign-in"></i>
            </span>
            <span>Login</span>
          </a>
        {% endif %}
    </div>
  </div>
</nav>
