.button {
	border: none;
	font-family: $font-headings;
	font-size: inherit;
	cursor: pointer;
	padding: 1em 2em;
	margin: 0.125em;
	display: inline-block;
	text-transform: uppercase;
    text-decoration: none;
	letter-spacing: 1px;
	font-weight: normal;
	outline: none;
	transition: color .25s, background-color .5s, border .25s;
	border: 2px solid transparent;
	color: inherit;
	background-color: none;
}
.buttons {
	margin: $column-pad 0;
}
.button--primary {
	&:link, &:visited {
		color: $color-primary;
		border-color: $color-primary;
		background-color: transparent;
	}
	&:hover, &:active {
		color: #fff;
		background-color: $color-primary;
	}
}

.button--secondary {
	&:link, &:visited {
		border-color: $color-secondary;
		background-color: transparent;
		color: $color-secondary;
	}
	&:hover, &:active {
		color: #fff;
		background-color: $color-secondary;
	}
}

.button--toggle {
	padding: .4em .8em;
	color: $color-navbar-toggle;
	background-color: $color-navbar-toggle-background;
	border: 2px solid $color-navbar-toggle;

	&:hover, &:active, &:focus {
		color: $color-navbar-toggle-hover;
		background-color: $color-navbar-toggle-hover-background;
	}
}

.button--block {
	display: inline-block;
}
@include md {
	.button {
		margin: 0.25em;
		border-width: 4px;
	}
}
