@font-face { 
  font-family: 'Lato';
  font-style: 'normal';
  font-weight: 300;
  src: url('/dist/fonts/Lato-Light.eot');
  src: url('/dist/fonts/Lato-Light.eot?iefix') format('eot'),
       url('/dist/fonts/Lato-Light.woff') format('woff'),
       url('/dist/fonts/Lato-Light.ttf') format('truetype'),
       url('/dist/fonts/Lato-Light.svg#webfont') format('svg');
}
@font-face { 
  font-family: 'Lato';
  font-style: 'normal';
  font-weight: 400;
  src: url('/dist/fonts/Lato-Regular.eot');
  src: url('/dist/fonts/Lato-Regular.eot?iefix') format('eot'),
       url('/dist/fonts/Lato-Regular.woff') format('woff'),
       url('/dist/fonts/Lato-Regular.ttf') format('truetype'),
       url('/dist/fonts/Lato-Regular.svg#webfont') format('svg');
}

$font-headings: Lato, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
$font-copy: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans" "Helvetica Neue", Arial, sans-serif;
$font-weight-copy: 300;
$font-weight-headings: 300;
$line-height-copy: 1.6;
$line-height-headings: 1.4;

$breakpoints: ( 
    small: $sm, 
    medium: $md, 
    large: $lg, 
    wide: $xl 
); 

$text-sizes: ( 
    default: 16px, 
    small: 17px, 
    medium: 18px, 
    large: 19px, 
    wide: 21px 
); 
 
$heading-sizes: ( 
    default: 25px, 
    small: 28px, 
    medium: 32px, 
    large: 35px, 
    wide: 38px 
); 

$code-sizes: ( 
    default: 14px, 
    small: 15px, 
    medium: 16px, 
    large: 17px, 
    wide: 18px 
); 

// @mixins 
@mixin font($sizes) { 
    @each $breakpoint, $size in $sizes { 
        @if $breakpoint == default { 
            font-size: $size; 
        } 
        @if map-has-key($breakpoints, $breakpoint) { 
            @media screen and (min-width: map-get($breakpoints, $breakpoint)) { 
                font-size: $size; 
            } 
        } 
    } 
}
