.navbar {
    &:after, ul:after {
        content: "";
        display: table;
        clear: both;
    }
    .navbar__brand {
        float: left;
        display: table;

        h1 {
            font-size: 1.5em;
            font-weight: 500;
            line-height: 1em;
            a, a:link, a:visited {
                color: $color-primary;
                text-transform: uppercase;
                text-decoration: none;
            }
            a:hover, a:active, a:focus {
                color: $color-primary-dark;
            }
        }
    }
    .navbar__brand {
        margin: 8px 0;
        float: left;
        img {
            height: 48px;
            width: auto;
        }
    }
    .navbar__toggle {
        margin-top: 1em;
    }
    .navbar__toggle {
        float: right;
    }
    .navbar__nav {
        margin: 0;
        padding: 0;
        clear: both;
        display: none;

        li {
            list-style: none;
        }
        a, a:link, a:visited {
            color: $color-navbar-link;
            display: block;
            padding: 1em 2em;
            line-height: 1;
            text-decoration: none;
            text-transform: uppercase;
            transition: color .25s, background-color .25s;
            letter-spacing: 1px;
        }
        a.selected {
            color: $color-navbar-link-selected;
            background-color: $color-navbar-link-selected-background;
        }
        a:hover, a:active {
            color: $color-navbar-link-hover;
            background-color: $color-navbar-link-hover-background;
        }
        a i.fa {
            font-size: 1em;
        }
    }
    .navbar__nav--expanded {
        display: block;
    }
}

.navbar__nav {
    border-top: 2px solid $color-navbar-border;
}

@include md {
    .navbar {
        .navbar__brand {
            img {
                height: 64px;
                width: auto;
            }
        }
        .navbar__toggle {
            display: none;
        }
        .navbar__nav {
            float: right;
            display: block;
            clear: none;
            margin-top: 1em;
            padding: 0 .5em;
            border: none;
            li {
                float: left;
                padding: .5em 0;
                margin-left: 1px;
                a, a:link, a:visited {
                    padding: .5em 1em;
                }
            }
        }
    }
}
