// // Fonts
// // $font-size: map-get($font-sizes, small);
// $font-style: normal;
// $font-weight: normal;
// $font-family: "Lucida Bright", Georgia, serif;
// // $line-height: map-get($line-heights, small);
// $word-spacing: 0.3em;
// // $font-size-headings: map-get($font-sizes, medium);
// $font-family-headings: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans" "Helvetica Neue", Arial, sans-serif;
// $font-weight-headings: normal;
// $font-style-headings: italic;
// // $line-height-headings: map-get($line-heights, medium);
// $word-spacing-headings: 0.25em;

// $font-size-code: 14px;
// $font-family-code: "Operator Mono", Consolas, monaco, monospace;
// $line-height-code: 1.0;

// // Breakpoints
// $tiny: 480px;
// $small: 780px;
// $medium: 1080px;
// $large: 1400px;

// body {
//     // font-size: $font-size;
//     font-style: $font-style;
//     // font-family: $font-family;
//     font-weight: $font-weight;
//     line-height: $line-height;
//     word-spacing: $word-spacing;
// }

// h1, h2, h3, h4, h5, h6, blockquote {
//     // font-size: $font-size-headings;
//     // font-style: $font-style-headings;
//     // font-family: $font-family-headings;
//     font-weight: $font-weight-headings;
//     line-height: $line-height-headings;
//     word-spacing: $word-spacing-headings;
//     margin: 1em 0 0 0;
// }

// blockquote {
//     margin: 1em 0;
//     padding-left: 1em;
//     color: $color-secondary;
//     // font-size: $font-size-headings - 5px;
//     border-left: 5px solid $color-secondary;
// }
// pre {
//     border: 1px solid #ddd;
// }
// pre, code, pre[class*="language-"], code[class*="language-"] {
//     // font-size: $font-size-code;
//     font-family: $font-family-code;
//     vertical-align: middle;
//     line-height: 1.2;
//     background-color: #f5f5f5;
// }
// a, a:link, a:visited {
//     color: $color-primary;
//     text-decoration: none;
// }
// a:hover, a:active {
//     color: $color-primary-dark;
// }

// @include media(769px) {
//     body {
//         // font-size: $font-size + 2px;
//     }
//     h1, h2, h3, h4, h5, h6 {
//         // font-size: $font-size-headings + 4px;
//     }
//     blockquote {
//         // font-size: $font-size-headings + 2px;
//     }
//     pre, code, pre[class*="language-"], code[class*="language-"] {
//         // font-size: $font-size-code + 1px;
//     }
// }

// @include media(1079px) {
//     body {
//         // font-size: $font-size + 4px;
//     }
//     h1, h2, h3, h4, h5, h6, blockquote {
//         // font-size: $font-size-headings + 8px;
//     }
//     blockquote {
//         // font-size: $font-size-headings + 4px;
//     }
//     pre, code, pre[class*="language-"], code[class*="language-"] {
//         // font-size: $font-size-code + 2px;
//     }
// }

// @include media(1399px) {
//     body {
//         // font-size: $font-size + 6px;
//     }
//     h1, h2, h3, h4, h5, h6, blockquote {
//         // font-size: $font-size-headings + 12px;
//     }
//     blockquote {
//         // font-size: $font-size-headings + 6px;
//     }
//     pre, code, pre[class*="language-"], code[class*="language-"] {
//         // font-size: $font-size-code + 3px;
//     }
// }

body {
    @include font($text-sizes);
    color: darken(#51576f, 10);
    background-color: #fff;
    font-family: $font-copy;
    font-weight: $font-weight-copy;
    line-height: $line-height-copy;
    word-spacing: .3em;
}

h1,h2,h3,h4,h5,h6 {
    @include font($heading-sizes);
    font-family: $font-headings;
    font-weight: $font-weight-headings;
    line-height: $line-height-headings;
}
pre[class*="language-"], code[class*="language-"] {
    @include font($code-sizes);
    line-height: 1.4;
}

pre, pre[class*="language-"] {
    margin: 2em -1em;
    background-color: #fbfbfb;
    border-top: 1px dotted $color-secondary;
    border-bottom: 1px dotted $color-secondary;
}

code[class*="language-"] {
    margin: 0 !important;
    padding: 0 !important;
}

blockquote {
    margin: 1em 0;
    color: $color-secondary;
    border-left: 5px solid $color-secondary;
    padding-left: 2em;
}

a, a:link, a:visited {
    color: $color-primary;
    text-decoration: none;
}
a:hover, a:active {
    color: $color-primary-dark;
}