.is-responsive {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    display: block;
}
.is-thumbnail {
    border: 1px solid #ddd;
    padding: 5px;
}
.is-block {
    margin-top: 2em;
    margin-bottom: 2em;
    display: block;
}
.has-floated-items:after {
    @include float-container;
}
.has-row-margin {
    margin-top: 2em;
    margin-bottom: 2em;
}
.has-row-padding {
    padding-top: 2em;
    padding-bottom: 2em;
}
.has-row-border {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.has-row-border-top {
    border-top: 1px solid #ddd;
}
.has-row-border-bottom {
    border-bottom: 1px solid #ddd;
}
.has-border-right {
    border-right: 1px solid;
}
.is-aligned-center {
    text-align: center;
}
.is-aligned-left {
    text-align: left;
}
.is-aligned-right {
    text-align: right;
}
.is-floated-left {
    float: left;
}
.is-floated-right {
    float: right;
}
.is-padded-right {
    padding-right: $column-pad;
}
.is-padded-left {
    padding-left: $column-pad;
}
.is-hidden {
    display: none;
}
.is-inline {
    display: inline;
}
.clear-floats {
    clear: both;
}

@include xs {
    .is-hidden-xs {
        display: none;
    }
}
@include md {
    .is-hidden-md {
        display: none;
    }
    .is-padded-right-md {
        padding-right: $column-pad;
    }
    .is-padded-left-md {
        padding-left: $column-pad;
    }
}
@include lg {
    .is-hidden-lg {
        display: none;
    }
}
@include xl {
    .is-hidden-xl {
        display: none;
    }
    .is-padded-right-xl {
        padding-right: $column-pad;
    }
    .is-padded-left-xl {
        padding-left: $column-pad;
    }
}

@include xs-only {
    .is-padded-right-xs-only {
        padding-right: $column-pad;
    }
    .is-padded-left-xs-only {
        padding-left: $column-pad;
    }
}
@include sm-only {
    .is-padded-right-sm-only {
        padding-right: $column-pad;
    }
    .is-padded-left-sm-only {
        padding-left: $column-pad;
    }
}
@include md-only {
    .is-padded-right-md-only {
        padding-right: $column-pad;
    }
    .is-padded-left-md-only {
        padding-left: $column-pad;
    }
}
@include lg-only {
    .is-padded-right-lg-only {
        padding-right: $column-pad;
    }
    .is-padded-left-lg-only {
        padding-left: $column-pad;
    }
}
