/*
 ------------------------------------------------------------
 @colors
 ------------------------------------------------------------*/
$color-primary: #00966C;
$color-primary-light: lighten($color-primary, 10%);
$color-primary-dark: darken($color-primary, 10%);
$color-secondary: #565758;
$color-secondary-light: lighten($color-secondary, 10%);
$color-secondary-dark: darken($color-secondary, 10%);
$color-tertiary: #9642be;
$color-tertiary-light: lighten($color-tertiary, 10%);
$color-tertiary-dark: darken($color-tertiary, 10%);
$color-navbar-border: darken($color-primary, 2%);
$color-navbar-link: $color-primary;
$color-navbar-link-background: transparent;
$color-navbar-link-hover: #fff;
$color-navbar-link-hover-background: $color-primary;
$color-navbar-link-selected: #fff;
$color-navbar-link-selected-background: $color-primary;
$color-navbar-toggle: $color-primary;
$color-navbar-toggle-background: transparent;
$color-navbar-toggle-hover: #fff;
$color-navbar-toggle-hover-background: $color-primary;

/*
 ------------------------------------------------------------
 @grays
 ------------------------------------------------------------*/
$gray-f: #f6f7f8;
$gray-e: #e6e7e8;
$gray-d: #d6d7d8;
$gray-c: #c6c7c8;
$gray-b: #b6b7b8;
$gray-a: #a6a7a8;

/*
 ------------------------------------------------------------
 @spacing
 ------------------------------------------------------------*/
$column-pad: 20px;
$column-pad2x: $column-pad * 2;

/*
 ------------------------------------------------------------
 @fontawesome configs
 ------------------------------------------------------------*/
$fa-font-path: '/dist/fonts';

/*
 ------------------------------------------------------------
 @bulma configs
 ------------------------------------------------------------*/
$text: #363738;
$dark: $color-secondary;
$info: $color-tertiary;
$primary: $color-primary;
$gray-dark: $color-secondary;
$gray-darker: $color-secondary-dark;
$gray-lighter: $gray-e;
$size-normal: 1.25rem;
$family-sans-serif: -apple-system, BlinkMacSystemFont, "Fira Sans", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
