@import "vars";
// @import "mixins";
// @import "grid";
// @import "fonts";
// @import "utils";
// @import "buttons";
// @import "segments";
// @import "typography";
// @import "nav";
.title + .subtitle {
    margin-top: 20px;
}
.section--hero {
    background: #e6e7e8 url(/dist/images/CraftXPattern.png) repeat;
}
.section--features {
    .title, .subtitle {
        color: #fff;
    }
    background-color: $color-secondary;
}
.nav-item img {
    max-height: 3rem;
}
