/*
 ------------------------------------------------------------
 @imports
 ------------------------------------------------------------*/

@import "vars";
@import "mixins";
@import "sections";
@import "forms";

/*
 ------------------------------------------------------------
 @base
 ------------------------------------------------------------*/

body {
    color: #242b3f;
    background-color: #fff;
    line-height: 1.5;
    word-spacing: 0.25em;
}
/*
 ------------------------------------------------------------
 @video
 ------------------------------------------------------------*/

.vjs-16-9 {
    position: relative !important;
}

.vjs-16-9>div:first-child {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}


/*
 ------------------------------------------------------------
 @bulma overrides
 ------------------------------------------------------------*/
.nav.nav--primary {
    z-index: 99;
    min-height: 5rem;
    background-color: transparent;
}

.nav-item img {
    max-height: 3rem;
}
.nav-toggle {
    padding: 2em;
    margin-right: 1em;
    height: initial;
}

.title,
.subtitle {
    @extend .is-inset;
    color: inherit;
    line-height: 1.4;
}

.title+.subtitle {
    margin-top: 20px;
}

.footer {
    background-color: inherit;
}


/*
 ------------------------------------------------------------
 @utilities
 ------------------------------------------------------------*/

.is-inset {
    text-shadow: 1px 2px 0 #fff;
}

.is-inset-inverted {
    text-shadow: 1px 2px 0 #363738;
}
.is-form-section-divider {
    padding: 0;
    border: none;
    margin-top: $column-pad2x;
    margin-bottom: $column-pad2x;
    border-top: 10px double $gray-e;
    color: $gray-a;
    text-align: center;
    background: transparent;

    &:after {
        content: "§";
        display: inline-block;
        position: relative;
        top: -1em;
        font-size: 1.5em;
        padding: 0 0.25em;
        background: white;
        border: 1px solid $gray-e;
        border-radius: 50% 50%;
    }
}
.is-heavy {
    font-weight: 500;
}

.is-tall {
    line-height: 1.5;
}

.is-blinking {
    animation: blinker 1s linear infinite;
}

.is-circle-image {
    border-radius: 50%;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.has-vertically-centered-items {
    align-items: center;
}

.has-top-margin {
    margin-top: $column-pad;
}
.is-aligned-right {
    text-align: right;
}
.is-full-width {
    min-width: 100%;
    max-width: 100%;
}

/*
 ------------------------------------------------------------
 @media queries
 ------------------------------------------------------------*/

@include xs {
    .control.is-grouped.subscribe-fields {
        display: block;
        .control {
            margin: 0;
            margin-top: $column-pad;
        }
        .button {
            min-width: 100%;
        }
    }
}

@include sm {
    .title {
        &.is-1 {
            font-size: 2rem;
        }
        &.is-2 {
            font-size: 1.5rem;
        }
    }
    .subtitle {
        &.is-3 {
            font-size: 1.5rem;
        }
        &.is-4 {
            font-size: 1.25rem;
        }
    }
    .nav-menu.is-active {
        padding-bottom: $column-pad;
    }
    .control.is-grouped {
        display: block;
        .label {
            margin-top: $column-pad;
        }
    }
    .control.is-expanded {
        min-width: 100%;
    }
}

@include md {
    .title,
    .subtitle {
        font-size: initial;
    }
    .hero-buttons .button.is-large {
        font-size: 2.5rem;
    }
}
