.tmp
.temp
.idea
.vscode
.vagrant
.DS_Store
*.git
#
#
/web/cpr/*
/.env
/vendor/*
!/vendor/craftcms/cms/src/base/ApplicationTrait.php
!/vendor/craftcms/cms/src/services/Et.php
/node_modules
/dbsync.sh
/dbpull.sh
/config/local/*
!/config/local/general.example.php
