{% extends '_layout' %}
{% set id = 'index' %}
{% set title = 'Request Password Reset' %}

{% set content %}
    <section class="section section--login">
        <div class="container">
            <div class="columns">
                <div class="column is-6-desktop is-offset-3-desktop">
                    <div class="form-container">
                        <h1 class="title is-2">
                            Request Password Reset
                        </h1>
                        <hr>
                        <form method="post" accept-charset="UTF-8">
                            {{ csrfInput() }}
                            <input type="hidden" name="action" value="swipe/users/request-password-reset">
                            <p class="control has-icon">
                                <input class="input is-large" name="usernameOrEmail" type="text" placeholder="Email or Username">
                                <span class="icon is-medium">
                                    <i class="fa fa-envelope"></i>
                                </span>
                            </p>
                            <hr>
                            <p class="control">
                                <button type="submit" class="button is-primary is-large is-full-width">Submit</button>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endset %}
