/*
 ------------------------------------------------------------
 @bulma configs
 ------------------------------------------------------------*/
$text: #565758;
$dark: $color-secondary;
$info: $color-tertiary;
$danger: #c00;
$primary: $color-primary;
$success: $primary;
$code: $info;
$gray-dark: $color-secondary;
$gray-darker: $color-secondary-dark;
$gray-lighter: $gray-e;
$size-normal: 1rem;
$family-sans-serif: "Fira Sans", "Segoe UI", "Roboto", "Oxygen", -apple-system, BlinkMacSystemFont, "Ubuntu", "Cantarell", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$radius: 3px;
$size-1: 2.25rem;
$size-2: 2.0rem;
$size-3: 1.5rem;
$size-4: 1.25rem;
$size-5: 1.0rem;
$size-6: 0.75rem;
$size-7: 0.5rem;
$body-size:	16px;
$size-large: $size-3;
$size-medium: $size-4;
$size-normal: $size-5;
$size-small: $size-6;