/*
 ------------------------------------------------------------
 @colors
 ------------------------------------------------------------*/
$color-primary: #00966C;
$color-primary-light: lighten($color-primary, 10%);
$color-primary-dark: darken($color-primary, 10%);
$color-secondary: #565758;
$color-secondary-light: lighten($color-secondary, 10%);
$color-secondary-dark: darken($color-secondary, 10%);
$color-tertiary: #9642be;
$color-tertiary-light: lighten($color-tertiary, 10%);
$color-tertiary-dark: darken($color-tertiary, 10%);
$color-navbar-border: darken($color-primary, 2%);
$color-navbar-link: $color-primary;
$color-navbar-link-background: transparent;
$color-navbar-link-hover: #fff;
$color-navbar-link-hover-background: $color-primary;
$color-navbar-link-selected: #fff;
$color-navbar-link-selected-background: $color-primary;
$color-navbar-toggle: $color-primary;
$color-navbar-toggle-background: transparent;
$color-navbar-toggle-hover: #fff;
$color-navbar-toggle-hover-background: $color-primary;

/*
 ------------------------------------------------------------
 @grays
 ------------------------------------------------------------*/
$gray-f: #f6f7f8;
$gray-e: #e6e7e8;
$gray-d: #d6d7d8;
$gray-c: #c6c7c8;
$gray-b: #b6b7b8;
$gray-a: #a6a7a8;
$gray-dark: #292d41;