/*
 ------------------------------------------------------------
 @spacing
 ------------------------------------------------------------*/
$column-pad: 20px;
$column-pad2x: $column-pad * 2;

/*
 ------------------------------------------------------------
 @fontawesome configs
 ------------------------------------------------------------*/
$fa-font-path: '/dist/fonts';