{#<div class="hero hero--slim is-aligned-center">
	<h2 class="hero__headline">Craft Training for Busy Developers</h2>
	<h3 class="hero__subheadline">
		You need to be a productive Craft CMS developer and cannot afford to waste time.
		<br>
		I will get you up to speed and help you connect the dots as quickly as possible.
	</h3>
	<div class="buttons">
		<a href="/login" class="button button--secondary">
			<i class="fa fa-sign-in"></i> Login
		</a>
		<a href="/signup" class="button button--primary">
			<i class="fa fa-graduation-cap"></i> Sign Up
		</a>
	</div>
	<nav class="hero__icons">
		<a href="mailto:support@craftx.io" title="support@craftx.io"><span><i class="fa fa-envelope-square"></i></span></a>
		<a href="https://github.com/craftx" title="Craft X on Github" target="_blank"><span><i class="fa fa-github-square"></i></span></a>
		<a href="https://twitter.com/craftxio" title="Craft X on Twitter" target="_blank"><span><i class="fa fa-twitter-square"></i></span></a>
	</nav>
</div>
#}

<section class="section section--hero is-medium is-bold has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Craft Training for Busy Developers</h1>
      <h2 class="subtitle">
		You need to be a productive Craft CMS developer and cannot afford to waste time.
		<br>I will get you up to speed and help you connect the dots as quickly as possible.
      </h2>
	  <div>
		  <a href="#" class="button is-info is-large" title="Sign up today and start learning Craft CMS">
			  <span class="icon">
				  <i class="fa fa-graduation-cap"></i>
			  </span>
			  <span>Start Hacking</span>
		</a>
	  </div>
    </div>
  </div>
</section>