<nav class="nav is-medium has-shadow">
  <div class="container">
  <div class="nav-left">
    <a class="nav-item">
      <img src="/dist/images/CraftX.svg" alt="Craft X Logo">
    </a>
  </div>

  <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
  <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
  <span class="nav-toggle" @click="toggleMobileNav">
    <span></span>
    <span></span>
    <span></span>
  </span>

  <!-- This "nav-menu" is hidden on mobile -->
  <!-- Add the modifier "is-active" to display it on mobile -->
  <div class="nav-right nav-menu" :class="{ 'is-active': mobileNavIsActive }">
    <a class="nav-item">
      Home
    </a>
    <a class="nav-item">
      Learn
    </a>
    <span class="nav-item">
      <a class="button" >
        <span class="icon">
          <i class="fa fa-sign-in"></i>
        </span>
        <span>Login</span>
      </a>
      <a class="button is-primary">
        <span class="icon">
          <i class="fa fa-graduation-cap"></i>
        </span>
        <span>Sign Up</span>
      </a>
    </span>
  </div>
  </div>
</nav>
