{#
 # Since this template can be included from:
 # - index page /hangouts
 # - entry page /hangouts/_entry
 # We need a way to know which one, so that we may act accordingly.
 #
 # Simplest way is to check for the total segments and:
 # - if > 1 
 # we can assume that we are not on the index page
 #
 # The title of the entry should behave as follows:
 # - if isOnEntryPage and isLoggedInAdmin : link to the CP entry edit URL
 # - if isOnEntryPage and not isLoggedInAdmin: display plain title
 # - if not isOnEntryPage : link to entry page URL
 #}

{% set isOnEntryPage = craft.app.request.segments|length > 1 %}
{% set isLoggedInAdmin = user.admin ?? false %}
{% set hasMeetingNotes = entry.hangoutNotes is not empty %}
{% set isUpcomingHangout = entry.hangoutDateTime > now %}

<h2 class="title is-3">Topic</h2>
<div class="hangout__summary">
    {% if isUpcomingHangout %}
        {{ entry.hangoutTopic }}
    {% else %}
        {{ hasMeetingNotes ? entry.hangoutNotes : entry.hangoutTopic }}
    {% endif %}
</div>

<h2 class="title is-3">Roster</h2>
<div class="hangout__people">
    <ul>
        {% set host = entry.hangoutHost.one() %}
        <li>
            {% if host.links[0]['website'] is not empty %}
                <a href="{{ host.links[0]['website'] }}">{{ host.firstName }} {{ host.lastName}}</a>
            {% else %}
                {{ host.firstName }} {{ host.lastName}}
            {% endif %}
            → Host
        </li>
        {% for presenter in entry.hangoutPresenters.all() %}
            <li>
                {% if presenter.links[0]['website'] is not empty %}
                    <a href="{{ presenter.links[0]['website'] }}">{{ presenter.firstName }} {{ presenter.lastName}}</a>
                {% else %}
                    {{ presenter.firstName }} {{ presenter.lastName}}
                {% endif %}
                → Presenter
            </li>
        {% endfor %}
    </ul>
</div>

<h2 class="title is-3">Date/Time</h2>
<div class="hangout__times">
    <table class="table is-bordered">
        <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Zone</th>
            </tr>
        </thead>
        <tbody>
            {% for date in craft.hangouts.translateDate(entry.hangoutDateTime) %}
                <tr class="{{ loop.first ? 'is-selected' }}">
                    <td>{{ date.format("j F Y") }}</td>
                    <td><strong>{{ date.format("g:i A") }}</strong> {{ date.format("l") }}</td>
                    <td> <strong>({{ date.format("T") }})</strong> {{ date.format("e")|replace({"_": " "}) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
