{#
 # @see plugins/hangouts/src/twig/HangoutsTemplateHooks::hangout()
 #
 # Due to the logic requirements to determine the status of a hangout, I'm handing it off to PHP.
 # That will allow me to keep the template clean and have consistent logic.
 #}
{% hook 'hangout' %}

<div class="hangout__preview has-shadow">
    <div class="hangout__summary">
        <div class="content is-medium">
            {% if isPastHangout and hasMeetingNotes %}
                {{ entry.hangoutNotes }}
            {% else %}
                {{ entry.hangoutTopic }}
            {% endif %}
        </div>
    </div>

    {#
     # Note that we could have said 'if not isPastHangout`
     # But would it make the statement clearer?
     #}
    {% if isOngoingHangout or isUpcomingHangout %}
        <div class="has-content" id="dateTimeTable">
            <h3 class="title is-3">Date/Time</h3>
            <template v-if="timezone">
                <h4 class="subtitle is-5">
                    <span class="icon">
                        <i class="fa fa-bolt"></i>
                    </span>
                    <span>
                        Highlighted row is our best guess at your timezone.
                    </span>
                </h4>
            </template>

            <div class="hangout__times">
                <table class="table is-bordered">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Zone</th>
                        </tr>
                    </thead>
                    <tbody>
                        <template v-if="timezone" v-cloak>
                            <tr class="is-selected">
                                <td>${date}</td>
                                <td>${time} <span class="is-hidden-mobile">${day}</span></td>
                                <td>${zoneAbbreviation} <span class="is-hidden-mobile">${zoneIdentifier}</span></td>
                            </tr>
                        </template>
                        {% for date in craft.hangouts.translateDateTime(entry.hangoutDateTime) %}
                            <tr>
                                <td>{{ date.format("j F Y") }}</td>
                                <td>
                                    {{ date.format("g:i A") }}
                                    <span class="is-hidden-mobile">{{ date.format("l") }}</div>
                                </td>
                                <td>
                                    ({{ date.format("T") }})
                                    <span class="is-hidden-mobile">{{ date.format("e")|replace({"_": " "}) }}</span>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div><!-- #dateTimeTable -->
    {% endif %}
</div>
