{% set isPastHangout = entry ? isPastHangout(entry) : false %}
{% set isOngoingHangout = entry ? isOngoingHangout(entry) : false %}
{% set isUpcomingHangout = entry ? isUpcomingHangout(entry) : false %}
{% set onEntryPage = onEntryPage ?? false %}

{% set text %}
    {{ 'An online gathering of friends and colleagues discussing [Craft CMS](https://craftcms.com), Design, Development, Freelancing, and everything in between.
    Hosted by [Selvin Ortiz](https://selvinortiz.com) and supported by talented members of the Craft community.'|doxter }}
{% endset %}
{% set lead = entry.title ?? 'CraftX Hangouts' %}
{% set ctaUrl = '/hangouts/next' %}
{% set ctaText = 'Next Hangout' %}
{% set ctaIconClasses = 'fa-clock-o' %}

{% if isOngoingHangout %}
    {% set ctaUrl = entry.hangoutLink %}
    {% set ctaText = 'Join Live Hangout' %}
    {% set ctaIconClasses = 'fa-comments-o is-blinking' %}
{% endif %}

{% if isPastHangout %}
    {% set text = 'Held on ' ~ entry.hangoutDateTime.format('l, F j, Y @ g:i A (T)') %}
    {% set ctaUrl = '/hangouts' %}
    {% set ctaText = 'All Hangouts' %}
    {% set ctaIconClasses = 'fa-comments-o' %}
{% endif %}

{% if isUpcomingHangout and onEntryPage %}
    {% set ctaUrl = entry.hangoutLink %}
    {% set ctaText = 'Meeting Link' %}
    {% set ctaIconClasses = 'fa-link' %}
{% endif %}

{% if isUpcomingHangout or isOngoingHangout %}
    {% set text = 'Join us on ' ~ entry.hangoutDateTime.format('l, F j @ g:i A (T)') %}
{% endif %}

<section class="section section--hero has-text-centered">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-8-desktop is-offset-2-desktop">
                    <h1 class="title is-2">{{ lead }}</h1>
                    <h2 class="subtitle is-4">{{ text }}</h2>

                    {% if entry and entry.hangoutCategories|length %}
                        <p class="hangout__tags is-inset-inverted">
                            {% for category in entry.hangoutCategories.all() %}
                                <span class="tag is-dark is-medium">{{ category.title }}</span>
                            {% endfor %}
                        </p>
                    {% endif %}

                    <div class="hero-buttons has-text-centered">
                        <a href="{{ ctaUrl }}" class="button is-medium is-info">
                            <span class="icon">
                                <i class="fa {{ ctaIconClasses }}"></i>
                            </span>
                            <span>{{ ctaText }}</span>
                        </a>
                    </div>

                    {% if not isPastHangout and onEntryPage %}
                        <p class="has-top-margin">
                            Our <a href="/hangouts">hangouts</a> are hosted via <a href="https://zoom.us" title="Zoom">zoom.us</a>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
