<section class="section section--hero has-text-centered">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-8-desktop is-offset-2-desktop">
                    <h1 class="title is-2">CraftX Hangouts</h1>
                    <h2 class="subtitle is-4">A weekly online meeting of Craft CMS users and freelancers in search of the best tools, workflows, and practices.</h2>
                    <div class="hero-buttons has-text-centered">
                        <a href="/next" id="cta" class="button is-large is-info">
                            <i class="fa fa-link"></i>
                            Join Next Hangout
                        </a>
                    </div>
                    <p class="is-5 has-top-margin">
                        We use <a href="https://zoom.us">Zoom</a> for our hangouts.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
