{% set format = 'Y / M / D j @ H:iA (T)' %}

<div class="hangout__preview has-shadow has-text-centered {{ (isUpcoming ?? false) ? 'is-upcoming' }}">
    <h2 class="title is-3">
        <a href="{{ entry.url }}">{{ entry.title }}</a>
    </h2>

    {% if isUpcoming ?? false %}
        <p class="subtitle is-5 is-info">
            <span class="icon">
                <i class="fa fa-clock-o"></i>
            </span>
            <span>
                {{ entry.hangoutDateTime.format('M / D j @ H:iA (T)') }}
            </span>
        </p>
    {% else %}
        <p class="subtitle is-5 is-meta">
            <span class="icon">
                <i class="fa fa-history"></i>
            </span>
            <span>
                {{ entry.hangoutDateTime.format('Y / M / D j @ g:iA (T)') }}
            </span>
        </p>
    {% endif %}

    {% if entry.hangoutGuest.one() ?? false %}
        {% set guest = entry.hangoutGuest.one() %}
        <div class="hangout__guest">
            {% if guest.photo.one() ?? false %}
                {% set guestName = [guest.firstName, guest.lastName]|join(' ')|trim %}
                {% set photo = guest.photo.one() %}
                <img class="is-avatar" src="{{ photo.url }}" alt="{{ guestName }}">
            {% endif %}
            <h2 class="title is-2">
                <a href="{{ guest.primaryWebsite }}" title="{{ guestName }}">{{ guestName }}</a>
            </h2>
            <p class="subtitle is-4">
                {{ guest.role }}
                <br>
                {{ guest.company }}
            </p>
        </div>
    {% else %}
        <div class="hangout__notes">
            <div class="content is-medium">
                {{ generateSummary(isUpcoming ?? false ? entry.hangoutTopic.html : entry.hangoutNotes.html) }}
            </div>
        </div>
    {% endif %}
</div>
