 <section class="section is-medium section--newsletter">
    <div class="container">
        <div class="columns">
            <div class="column is-half-desktop is-offset-one-quarter-desktop">
                <div class="has-text-centered">
                    <h2 class="title is-2 is-inset">CraftX Updates</h2>
                    <p class="subtitle is-5 is-inset">
                        <span class="icon"><i class="fa fa-bolt"></i></span>
                        Get notified about content updates and upcoming hangouts.
                    </p>
                </div>
                <form id="newsletter" method="post" @submit.prevent="subscribeToNewsletter($event)">
                    <input type="hidden" name="action" value="swipe/newsletter/subscribe">
                    <input type="hidden" name="redirect" value="/newsletter/next">
                    {{ csrfInput() }} 
                    <div class="field is-grouped subscribe-fields">
                        <p class="control has-icon is-expanded">
                            <input v-model="email" class="input is-large" type="email" placeholder="Email">
                            <span class="icon is-large">
                                <i class="fa fa-envelope-square"></i>
                            </span>
                        </p>
                        <p class="control">
                            <button type="submit" class="button is-medium is-primary is-full-width-mobile" :class="{ 'is-loading': busy }">
                            <span class="icon">
                                <i class="fa fa-paper-plane"></i>
                            </span>
                            <span>Subscribe</span>
                            </button>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
