<section class="section is-medium section--features">
    <div class="container">
        {% for block in blocks %}
            <div class="columns has-vertically-centered-items">
                <div class="column is-half icon-block icon-block--{{ block.featureIconClass }}"></div>
                <div class="column is-half">
                    <h2 class="title is-1">{{ block.featureLead }}</h2>
                    <p class="subtitle is-3">{{ block.featureText }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
