<section class="section section--hero has-text-centered">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1">Craft Training for Busy Developers</h1>
            <h2 class="subtitle is-3">
                You want to master Craft CMS without wasting time.
                <br> I will teach you everything I know.
            </h2>
            <div class="hero-buttons has-text-centered">
                <button id="cta" @click.prevent="loadSubscriptionForm" class="button is-large is-info" :class="{ 'is-loading': checkingOut }">
                    <i class="fa fa-terminal is-blinking"></i>
                    Start Crafting
                </button>
            </div>
            <p class="is-5 has-top-margin">
                Yes, there will be <a href="https://yarnpkg.com">Yarn</a> involved ;)
            </p>
        </div>
    </div>
</section>
