<section class="section is-medium section--features">
    <div class="container">
        <div class="columns">
            {% for block in blocks %}
                <div class="column is-4-desktop">
                    <div
                        class="icon-block"
                        style="background-image: url({{ block.featureImagePath }});"
                        >
                    </div>
                    <h2 class="title is-2">{{ block.featureLead }}</h2>
                    <h2 class="subtitle is-4">{{ block.featureText }}</h2>

                    {% if (block.featureCtaText ?? false) and (block.featureCtaUrl ?? false) %}
                        <div class="buttons-container has-text-centered">
                            <p>
                                <a href="{{ block.featureCtaUrl }}" class="button is-medium is-primary is-inverted">
                                    {% if block.featureCtaIconClasses ?? false %}
                                        <span class="icon"><i class="fa {{ block.featureCtaIconClasses}}"></i></span>
                                    {% endif %}
                                    <span>{{ block.featureCtaText }}<span>
                                </a>
                            </p>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</section>
