<section class="section is-medium section--about">
    <div class="container">
        <div class="columns is-multiline">
            <div class="column is-6-desktop is-offset-3-desktop has-text-centered">
                <h2 class="title is-2">Who is this for?</h2>
                <p class="subtitle is-4">
                    Developers like you who have web development experience and want to build complete plugins and powerful sites with Craft CMS.
                </p>
            </div>
            <div class="column is-8-desktop is-offset-2-desktop has-text-centered has-top-margin">
                <h2 class="title is-2">Who is behind this?</h2>
                <p class="subtitle is-4">
                    A passionate <a href="https://twitter.com/selvinortiz" title="@selvinorti">Web Developer</a> based in <a href="https://en.wikipedia.org/wiki/Minnesota" title="Minnesota, USA">Minnesota</a>.
                </p>
                <p class="subtitle is-4">
                    Who led the development of many <em>commercial plugins</em> at <a href="http://barrelstrengthdesign.com">Barrel Strength</a> and helped launch the plugin store at <a href="http://straightupcraft.com">Straight Up Craft</a>
                </p>
                <p class="subtitle is-4">
                    Currently, leading the development and maintenance of all online properties at <a href="https://kingdomadvisors.com">Kingdom Advisors, Inc.</a>
                </p>
            </div>
        </div>
    </div>
</section>
