<section class="section is-medium section--features">
    <div class="container">
        <div class="columns has-vertically-centered-items">
            <div class="column is-half icon-block icon-block--clear-code"></div>
            <div class="column is-half">
                <h2 class="title is-1">Clear Code</h2>
                <p class="subtitle is-3">No squinting. Just large, beautiful text and consice snippets for maximun readability.</p>
            </div>
        </div>
        <div class="columns has-vertically-centered-items">
            <div class="column icon-block icon-block--clean-sound"></div>
            <div class="column is-half">
                <h2 class="title is-1">Clean Sound</h2>
                <p class="subtitle is-3">No pops, hiss or monotone. Just clean, normalized audio for smooth, distraction free listening.</p>
            </div>
        </div>
        <div class="columns has-vertically-centered-items">
            <div class="column icon-block icon-block--quick-pace"></div>
            <div class="column is-third">
                <h2 class="title is-1">Quick Pace</h2>
                <p class="subtitle is-3">No dozing off. Lessons are optimized to get you writing code and mastering Craft as quickly as possible.</p>
            </div>
        </div>
    </div>
</section>
