{% extends '_layouts/profile' %}

{% hook 'profile' %}

{% set id = 'users' %}
{% set title = 'Profile Page' %}

{% set content %}
    <section class="section section-profile">
        <div class="container">
            <div class="columns">
                <div class="column is-3">
                    <div class="columns">
                        <div class="column">
                            {% include '_profile/sidebar' with {user: user, username: username} only %}
                        </div>
                    </div>
                </div>

                <div class="column is-9 profile-content">
                    {% include '_navs/profile' with {user: user, username: username} only %}
                    <div class="columns is-multiline" style="margin-top: 40px;">
                        <div class="column is-6">
                            <article class="media">
                                <figure class="media-left">
                                    <p class="image is-128x128">
                                        <img src="http://bulma.io/images/placeholders/128x128.png">
                                    </p>
                                </figure>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <strong>Doxter</strong>
                                            <br>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="column is-6">
                            <article class="media">
                                <figure class="media-left">
                                    <p class="image is-128x128">
                                        <img src="http://bulma.io/images/placeholders/128x128.png">
                                    </p>
                                </figure>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <strong>Patrol</strong>
                                            <br>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="column is-6">
                            <article class="media">
                                <figure class="media-left">
                                    <p class="image is-128x128">
                                        <img src="http://bulma.io/images/placeholders/128x128.png">
                                    </p>
                                </figure>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <strong>Doxter</strong>
                                            <br>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="column is-6">
                            <article class="media">
                                <figure class="media-left">
                                    <p class="image is-128x128">
                                        <img src="http://bulma.io/images/placeholders/128x128.png">
                                    </p>
                                </figure>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <strong>Patrol</strong>
                                            <br>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endset %}
