<aside class=" profile-sidebar">
    <div class="profile-avatar">
        <figure class="image is-square">
            <img src="{{ craft.swipe.gravatar('selvin@selvin.co', 512) }}" alt="Image">
        </figure>
    </div>
    <div class="profile-details">
        <h2 class="title is-2">Selvin Ortiz</h2>
        <h2 class="subtitle is-4">@selvinortiz</h2>
        <hr>
        <p class="profile-bio">
            Creator of CraftX. Software developer, photography enthusiast, aspiring educator.
        </p>
        <hr>
        <p class="profile-company">
            <span class="icon">
                <i class="fa fa-building-o"></i>
            </span>
            <span>
                Kingdom Advisors, Inc.
            </span>
        </p>
        <p class="profile-location">
            <span class="icon">
                <i class="fa fa-location-arrow"></i>
            </span>
            <span>
                Minnesota, USA 🇺🇸
            </span>
        </p>
        <p class="profile-email">
            <span class="icon">
                <i class="fa fa-envelope-o"></i>
            </span>
            <span>
                <a href="mailto:selvin@selvin.co">
                    selvin@selvin.co
                </a>
            </span>
        </p>
        <p class="profile-links">
            <span class="icon">
                <i class="fa fa-globe"></i>
            </span>
            <span>
                <a href="https://selvinortiz.com">https://selvinortiz.com</a>
            </span>
        </p>
    </div>
</aside>