{% extends '_layouts/hangouts' %}

{% set id = 'hangout' %}
{% set title = entry.title ~ ' | Hangouts' %}

{% set scriptVars = {
    hangoutSourceDateTime: entry.hangoutDateTime.format('Y-m-d H:i:s')
} %}

{% set dateTime = now %}
{% set currentDateTimeString = dateTime.format('Y-m-d H:i') %}
{% set currentDateTimePlusDurationString = dateTime.modify('+1 hour').format('Y-m-d H:i') %}
{% set currentDateTimeMinusDurationString = dateTime.modify('-2 hours').format('Y-m-d H:i') %}
{% set isOngoingHangout = entry.hangoutDateTime < dateTime and entry.hangoutDateTime > dateTime.modify('-1 hour') %}

{% set content %}
    {% include 'hangouts/_includes/hero' with {entry: entry} only %}

    <div class="section section--hangout" id="root">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="content is-medium">
                        <h2 class="title is-2 is-white is-inset-inverted has-text-centered">
                            <i class="fa fa-file-text"></i>
                            Hangout Details
                        </h2>

                        {% include 'hangouts/_includes/entry' with {entry: entry, onEntryPage: true} only %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endset %}
