{% extends '_layouts/hangouts' %}

{% set id = 'hangout' %}
{% set title = entry.title ~ ' | Hangouts' %}

{% set scriptVars = {
    hangoutSourceDateTime: entry.hangoutDateTime.format('Y-m-d H:i:s')
} %}

{% set content %}
    {% include 'hangouts/_includes/hero' with {entry: entry} only %}

    <div class="section section--hangout">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-1-desktop is-10-desktop is-offset-2-widescreen is-8-widescreen">
                    <h2 class="title is-2 is-white has-text-centered">
                        <span class="icon is-medium">
                            <i class="fa fa-file-text"></i>
                        </span>
                        <span>Hangout Details</span>
                    </h2>
                    {% include 'hangouts/_includes/entry' with {entry: entry, onEntryPage: true} only %}
                </div>
            </div>
        </div>
    </div>
{% endset %}
