{% extends '_layout' %}

{% set id = 'index' %}
{% set title = 'Hangouts' %}

{% set content %}
    <div class="section">
        <div class="container">
            <div class="columns">
                <div class="column content">
                    {% for entry in craft.entries.section('hangouts').find() %}
                        {% if loop.first %}
                            {% include 'hangouts/_includes/entry' %}
                        {% endif %}

                        {% if loop.last %}
                            <div class="hangout hangout--is-preview">
                                <h1 class="title is-3 is-section-header">Past Hangouts</h1>
                                <hr>
                                {% include 'hangouts/_includes/preview' %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endset %}
