.section--hero, .section--blog-hero {
    background: #eee url(/dist/images/background-hero.svg) no-repeat left -51.25%;
    background-size: auto 150%;
    .hero-buttons {
        margin-top: $column-pad;
        .button {
            display: inline-block;
            box-shadow: 0 5px 10px $gray-a;
        }
    }
}
.section--blog-hero {
    color: #fff;
    background: $info;
    padding-top: $column-pad;
    padding-bottom: $column-pad;
    border-bottom: 2px solid $gray-d;
}
.section--blog-content {
    background-color: #f6f6f6;
    margin-bottom: $column-pad;
    border-bottom: 2px solid $gray-c;
}
.section--features {
    .title, .subtitle {
        text-align: center;
    }
    background: #f6f6f6;
    border-top: 1px solid $gray-c;

    .icon-block {
        min-height: 128px;
        background-size: 128px;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    .icon-block--clear-code {
        background-image: url(/dist/images/icon-clear-code.svg);
    }
    .icon-block--clean-sound {
        background-image: url(/dist/images/icon-clean-sound.svg);
    }
    .icon-block--quick-pace {
        background-image: url(/dist/images/icon-quick-pace.svg);
    }
}
.section--about {
    background: #f6f7f8 url(/dist/images/pattern-crossword.png) repeat;
    border-top: 1px solid $gray-c;
    .title, .subtitle {
        @extend .is-inset;
    }
}
.section--hangout, .section--hangouts {
    background-color: $primary;
}

.section--newsletter {
    border-top: 2px solid $gray-d;
    border-bottom: 2px solid $gray-d;
    background-color: $gray-e;
    form {
        margin-top: $column-pad * 2;
    }
}
.section--dashboard,
.section--signup,
.section--login {
    @include pattern-bg;
}
.section--dashboard {
    border-bottom: 2px solid $gray-d;
}
.dashboard-content-wrapper {
    background-color: #fff;
    border: 1px solid $gray-d;
    padding: $column-pad $column-pad;
}
#home {
    .title, .subtitle {
        text-align: center;
    }
}

@include sm {
    .section--hero {
        padding: 0;
    }
}
@include md {
    #home .section--features {
        .icon-block {
            min-height: 300px;
            background-size: 256px;
        }
    }
    .section--signup, .section--login {
        background: none;
    }
}
