{% extends '_layout' %}

{% block content %}

    <body>
        <div class="container">
            <div class="content">
                <div class="title">Oops, page not found:(</div>
            </div>
        </div>
    </body>

{% endblock %}
