<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ entry is defined ? entry.intro|doxter(rules)|striptags : 'Craft Training for Busy Developers' }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <link rel="stylesheet" href="/dist/vendor.css">
    <link rel="stylesheet" href="/dist/app.css">

    {% include '_special/metadata' %}

</head>

<body id="{{ id }}">
    <div id="app">
        {% include '_includes/nav' %}
        {% if content is defined %}
            {{ content }}
        {% endif %}
        <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p class="subtitle is-5">
                    Copyright &copy; {{ "now"|date("Y") }} {{ siteName }}, All Rights Reserved.
                    <br>
                    <a href="/terms">Terms</a>
                    |
                    <a href="/privacy">Privacy</a>
                </p>
            </div>
        </div>
        </footer>
    </div>

    <script type="text/javascript">
        window.csrfTokenName = "{{ craft.app.config.get('csrfTokenName')|e('js') }}";
        window.csrfTokenValue = "{{ craft.app.request.getCsrfToken()|e('js') }}";
    </script>
    <script src="/dist/app.js"></script>
</body>
</html>
