<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Craft Training for Busy Developers">
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <link rel="stylesheet" href="/dist/vendor.css?v=1.1.1">
        <link rel="stylesheet" href="/dist/app.css?v=1.1.1">
        {% include '_special/metadata' %}

        <script src="https://js.stripe.com/v3/"></script>
    </head>
    <body id="{{ id }}">
        {% include '_includes/nav' %}
        {% if content is defined %}
            {{ content }}
        {% endif %}

        {% include '_includes/footer' %}

        <script type="text/javascript">
            window.csrfTokenName = "{{ craft.app.config.get('csrfTokenName')|e('js') }}";
            window.csrfTokenValue = "{{ craft.app.request.getCsrfToken()|e('js') }}";
        </script>

        {% include '_special/disqus' %}

        <script src="/webpack/App.bundle.js"></script>

        {% if scripts is defined and scripts is iterable %}
            {% for script in scripts %}
                <script src="{{ script }}"></script>
            {% endfor %}
        {% endif %}

        {% if js is defined and js is not empty %}
            {{ js }}
        {% endif %}

    </body>
</html>
