{% extends '_layout' %}

{% block content %}
    <body>
        <div class="container">
            <div class="content">
                <div class="title">{{ siteName }}</div>
            </div>
        </div>
    </body>
{% endblock %}
