{% extends '_layout' %}

{% set id = 'index' %}
{% set title = 'Craft Training for Busy Developers' %}

{% set content %}
    {% include '_includes/hero' %}

    <section class="section section--features is-medium">
        <div class="container">
            <div class="columns has-text-centered">
                <div class="column is-half">
                    <h2 class="title">Who should sign up?</h2>
                    <p class="subtitle">
                        Craft X is not for everyone.
                        <br>
                        I want to serve those of you with some experience building websites who want to reach a high proficiency level building <a href="http://craftcms.com" title="Craft CMS">Craft CMS</a> websites and plugins as quickly as possible.
                    </p>
                </div>
                <div class="column is-half">
                    <h2 class="title">Why should you sign up?</h2>
                    <p class="subtitle">
                        Because doing so would allow me to produce more content to help you succeed in your career as a Craft CMS developer.
                        It would also allow me to support my open source plugins and continue to give back to our awesome community.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="section section--shouts">
        <div class="container">
            <div class="columns has-text-centered">
                <div class="column is-one-third">
                    <div class="shout">
                        <h2 class="title">Gill Bates</h2>
                        <p class="subtitle">Selvin is amazingly good looking and has a very soothing voice.</p>
                    </div>
                </div>
                <div class="column is-one-third">
                    <div class="shout">
                        <h2 class="title">Donald Trump</h2>
                        <p class="subtitle">Selvin is amazingly good looking and has a very soothing voice.</p>
                    </div>
                </div>
                <div class="column is-one-third">
                    <div class="shout">
                        <h2 class="title">Steve Bannon</h2>
                        <p class="subtitle">Selvin is amazingly good looking and has a very soothing voice.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endset %}
