{% extends '_layout' %}

{% set id = 'index' %}
{% set title = 'Craft Training for Busy Developers' %}

{% set content %}
    {% include '_includes/hero' %}

    <section class="section is-medium section--features">
        <div class="container">
            <div class="columns has-text-centered">
                <div class="column is-half">
                    <h2 class="title">Who is this for?</h2>
                    <p class="subtitle">
                        Craft X is not for everyone.
                        <br>
                        I want to serve those of you with some experience building websites who want to reach a high proficiency level building <a href="http://craftcms.com" title="Craft CMS">Craft CMS</a> websites and plugins as quickly as possible.
                    </p>
                </div>
                <div class="column is-half">
                    <h2 class="title">Who is behind this?</h2>
                    <p class="subtitle">
                        My name is <a href="https://selvinortiz.com">Selvin Ortiz</a> and I'm a passionate PHP developer who loves learning and teaching.
                        I've been building websites and plugins in Craft since its private beta days.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="section is-medium section--subscribe">
        <div class="container">
            <div class="columns">
                <div class="column is-half-desktop is-offset-one-quarter-desktop">
                    <div class="has-text-centered">
                        <h2 class="title">Craft X Newsletter</h2>
                        <p class="subtitle">
                            Be notified when I launch and about noteworthy announcements.
                        </p>
                        <p>
                            <span class="icon"><i class="fa fa-heart"></i></span>
                            My newsletter uses the <strong>Double Opt-in</strong> method.
                            Meaning, you will have to confirm your desire to subscribe.
                            You are welcome<strong>;)</strong>
                        </p>
                    </div>

                    <form method="post" @submit.prevent="subscribe($event)">
                        <input type="hidden" name="action" value="swipe/newsletter/subscribe">
                        <input type="hidden" name="redirect" value="/newsletter/next">
                        {{ csrfInput() }}
                        <div class="control is-grouped">
                            <div class="control has-icon is-expanded">
                                <input v-model="email" class="input is-large" type="text" placeholder="Email">
                                <span class="icon is-medium">
                                    <i class="fa fa-at"></i>
                                </span>
                            </div>
                            <div class="control">
                                <button type="submit" class="button is-large is-primary" :class="{ 'is-loading': subscribing }">
                                    <span class="icon"><i class="fa fa-check-circle"></i></span>
                                    <span>Subscribe</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endset %}
