{% extends '_layouts/site' %}

{% set id = 'index' %}
{% set title = 'Unofficial Craft CMS Community' %}
{% set scripts = ['/app/js/Index.bundle.js?v=1.5.0'] %}

{% set entry = entry ?? craft.entries({section: 'homepage'}).one() %}

{% set content %}
    {% include '_homepage/section-hero' with {block: entry.hero.one()} only %}
    {% include '_homepage/section-features' with {blocks: entry.features.all()} only %}
    {% include '_homepage/section-technologies' with {blocks: entry.technologies.all()} only %}
    {% include '_homepage/section-newsletter' %}
{% endset %}
