{% extends '_layout' %}
{% set id = 'login' %}
{% set title = 'Login' %}

{% set content %}

    {% include '_special/error' %}
    {% include '_special/notice' %}

    <section class="section section--login">
        <div class="container">
            <div class="columns">
                <div class="column is-6-desktop is-offset-3-desktop">
                    <div class="form-container">
                        <h1 class="title is-3">
                            Login
                        </h1>
                        <form method="post" accept-charset="UTF-8">
                            {{ csrfInput() }}
                            <input type="hidden" name="action" value="users/login">
                            
                            <div class="field">
                                <p class="control has-icon">
                                    <input class="input is-medium" name="loginName" type="email" placeholder="Email" autofocus>
                                    <span class="icon">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                </p>
                            </div>

                            <div class="field">
                                <p class="control has-icon">
                                    <input class="input is-medium" name="password" type="password" placeholder="Password" autocomplete="off">
                                    <span class="icon">
                                        <i class="fa fa-lock"></i>
                                    </span>
                                </p>
                            </div>
                            <hr>
                            <p class="control">
                                <button type="submit" class="button is-primary is-medium is-full-width">
                                    <span class="icon is-medium">
                                        <i class="fa fa-sign-in"></i>
                                    </span>
                                    <span>Login</span>
                                </button>
                            </p>
                            <div class="is-clearfix">
                                <p class="control has-top-margin subtitle is-5 is-pulled-left">
                                    <label class="checkbox">
                                        <input type="checkbox" name="rememberMe">
                                        Remember me
                                    </label>
                                </p>
                                <p class="control has-top-margin subtitle is-5 is-pulled-right">
                                    <a href="/v1/request-password-reset" title="Reset your password" class="is-inline-block is-aligned-right">Forget your password?</a>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endset %}
