{% extends '_layout' %}

{% set id = 'index' %}
{% set title = 'Player' %}

{% set content %}
    <div class="section section--player">
        <div class="container">
            <div class="columns">
                <div class="column">
                    {% include '_special/video' with {
                        classes: "video-js-craftx",
                        sources: [{
                            src: "https://d20c5t1dxoiuw3.cloudfront.net/Running+Craft+3+Beta+on+Vagrant+and+Homestead-HD.mp4",
                            type: "video/mp4"
                        }]
                    } %}
                </div>
            </div>
        </div>
    </div>
{% endset %}
