{% requireLogin %}

{% extends '_layout' %}

{% set id = 'player' %}
{% set title = 'Player' %}
{% set video = craft.swipe.getSecureUrl('series/up-and-running-with-craft-3/01-setting-up-for-local-dev-h264.mp4') %}
{% set scripts = ['/app/js/Player.bundle.js?v=1.1.0'] %}

{% set content %}
    <div class="section section--player">
        <div class="container">
            <div class="columns">
                <div class="column">
                    {% include '_special/video' with {
                        classes: "video-js-craftx",
                        sources: [{
                            src: video,
                            type: "video/mp4"
                        }]
                    } %}
                </div>
            </div>
        </div>
    </div>
{% endset %}
