{% extends '_layout' %}
{% set id = 'sign-up' %}
{% set title = 'Craft Training for Busy Developers' %}

{% set content %}
    {#
      Can use:
      - is-control-container to group labes and field to add a little space around
      - has-option-field on a label to mark the control as (Optional)
    #}
    <section class="section section--signup">
        <div class="container">
            <div class="columns">
                <div class="column is-8-desktop is-offset-2-desktop">
                    <div class="form-container">
                        <form @submit.prevent="checkout" id="signup" method="post" accept-charset="UTF-8">
                            <input type="hidden" name="action" :value="action">
                            <input type="hidden" name="redirect" :value="redirect">
                            {{ csrfInput() }}

                            <h2 class="title is-3 is-form-section-title">Basics</h2>
                            <div class="is-control-container">
                                {# Outside of control to aligne with label(less) input #}
                                <label class="label">Name</label>
                                <div class="control is-grouped">
                                    <p class="control is-expanded">
                                        <input v-model="firstName" name="firstName" class="input is-large" type="text" placeholder="Brad" >
                                    </p>
                                    <p class="control is-expanded has-no-label">
                                        <input v-model="lastName" name="lastName" class="input is-large" type="text" placeholder="Bell" >
                                    </p>
                                </div>
                            </div>

                            <div class="is-control-container">
                                <p class="control">
                                    <label class="label">Email</label>
                                    <input v-model="email" name="email" class="input is-large" type="email" placeholder="brad@angrybrad.com" >
                                </p>
                            </div>

                            <h2 class="title is-3  is-form-section-title has-top-margin">Login</h2>
                            <div class="is-control-container">
                                <p class="control">
                                    <label class="label">Username</label>
                                    <input v-model="username" name="username" class="input is-large" type="text" placeholder="tacobell" >
                                    <span class="help">
                                        <span class="icon"><i class="fa fa-hand-o-right"></i></span>
                                        <b v-if="username">{{ siteUrl }}@@{ username }</b>
                                        <b v-else>{{ siteUrl }}@tacobell</b>
                                  </span>
                              </p>
                            </div>

                            <div class="is-control-container">
                                <p class="control">
                                    <label class="label">Password</label>
                                    <input class="input is-large" type="password" placeholder="Make it strong" autocomplete="off" >
                                </p>
                            </div>

                            <h2 class="title is-3 is-form-section-title has-top-margin">Select Your Plan</h2>
                            <div class="is-control-container">
                                <p class="control">
                                    <span class="select is-large is-full-width">
                                        <select name="planId" class="is-full-width">
                                            <option value="monthly-developer">Developer (Monthly) $4.99</option>
                                            <option value="monthly-team">Team (Monthly) $49.99</option>
                                        </select>
                                    </span>
                                </p>
                            </div>

                            <h2 class="title is-3 is-form-section-title has-top-margin">Billing</h2>

                            <div class="is-control-container">
                                <div class="control is-grouped">
                                    <p class="control is-expanded">
                                        <label class="label">Address</label>
                                        <input v-model="address1" name="address1" class="input is-large" type="text" placeholder="221 Baker St." >
                                    </p>
                                    <p class="control is-expanded">
                                        <label class="label has-optional-field">Address 2</label>
                                        <input v-model="address2" name="address2" class="input is-large" type="text" placeholder="Suit 101" >
                                    </p>
                                </div>
                            </div>

                            <div class="is-control-container">
                                <div class="control is-grouped">
                                    <p class="control is-expanded">
                                        <label class="label">City</label>
                                        <input v-model="address1" name="address1" class="input is-large" type="text" placeholder="New York City" >
                                    </p>
                                    <p class="control is-expanded">
                                        <label class="label">State/Province</label>
                                        <input v-model="address2" name="address2" class="input is-large" type="text" placeholder="NY" >
                                    </p>
                                    <p class="control is-expanded">
                                        <label class="label">Zip/Postal</label>
                                        <input v-model="address2" name="address2" class="input is-large" type="text" placeholder="90210" >
                                    </p>
                                </div>
                            </div>

                            <div class="is-control-container">
                                    <p class="control">
                                        <label class="label">Country</label>
                                        <span class="select is-large is-full-width is-small-mobile">
											{% include '_special/country-select' %}
										</span>
                                    </p>
                            </div>

                            <div class="is-control-container">
                                <label class="label">Card Details</label>
                                <div class="control">
                                    <div class="is-stripe-field is-large" id="card-element"></div>
                                    <div class="is-stripe-error" id="card-errors"></div>
                                </div>
                            </div>

                            <div class="is-button-container has-no-top-margin is-aligned-right">
                                <button type="submit" class="button is-info is-large is-full-width-mobile">
                                        <span class="icon"><i class="fa fa-graduation-cap" :class="{ 'is-loading': signingUp }"></i></span>
                                        <span>Sign Up</span>
                                    </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endset %}
