{% extends '_layout' %}
{% set id = 'index' %}
{% set title = 'Craft Training for Busy Developers' %}

{% set content %}
<section class="section section--profile">
    <div class="container">
        <div class="columns has-text-centered">
            <div class="column">
                <h2 class="title is-2 is-inset">Dashboard</h2>
                <p class="subtitle is-4">
                    @{{ username  }}
                </p>
                <img class="is-circle-image" src="{{ avatarUrl }}" alt="Avatar for {{ username }}" width="128" height="128">
            </div>
        </div>
    </div>
</section>

{% endset %}
