<div class="dashboard-sidebar-wrapper">
    <aside class="menu">
        <p class="menu-label">Account</p>
        <ul class="menu-list">
            <li>
                <a class="is-active">
                    <span class="icon"><i class="fa fa-graduation-cap"></i></span>
                    <span>Profile</span>
                </a>
            </li>
            <li>
                <a>
                    <span class="icon"><i class="fa fa-cog"></i></span>
                    <span>Settings</span>
                </a>
            </li>
        </ul>
        <p class="menu-label">Billing</p>
        <ul class="menu-list">
            <li>
                <a>
                    <span class="icon"><i class="fa fa-credit-card"></i></span>
                    <span>Card</span>
                </a>
            </li>
            <li>
                <a>
                    <span class="icon"><i class="fa fa-history"></i></span>
                    <span>History</span>
                </a>
            </li>
            <li>
                <a>
                    <span class="icon"><i class="fa fa-clock-o"></i></span>
                    <span>Subscription</span>
                </a>
            </li>
        </ul>
    </aside>
</div>