{% extends '_layout' %}

{% set id = 'lesson' %}
{% set title = entry.title ~ ' | ' ~ entry.parent.title %}
{% set scripts = ['/app/js/Player.bundle.js?v=2.1.0'] %}
{% set resource = entry.lessonVideo.one() %}

{% set content %}
    <section class="section section--hero has-text-centered">
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column is-8-desktop is-offset-2-desktop">
                        <h1 class="title is-2">{{ entry.parent.title }}</h1>
                        <h2 class="subtitle is-4">{{ entry.title }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% if resource %}
        <section class="section section--player">
            <div class="container">
                <div class="columns">
                    <div class="column">
                        {% include '_special/video' with {
                            classes: "video-js-craftx",
                            sources: [{
                                src: resource|signedUrl,
                                type: "video/mp4"
                            }]
                        } %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endset %}
