{% extends '_layout' %}

{% set id = 'lesson' %}
{% set title = entry.title ~ ' | ' ~ entry.parent.title %}
{% set scripts = ['/app/js/Player.bundle.js?v=2.1.0'] %}
{% set resource = entry.lessonVideo.one() %}

{% set content %}
    {% if resource %}
        <section class="section section--player">
            <div class="container">
                <div class="columns">
                    <div class="column is-4">
                        <h1 class="title is-2 is-inset-inverted">{{ entry.parent.title }}</h1>
                        <h2 class="subtitle is-4 is-inset-inverted">{{ entry.title }}</h2>
                    </div>
                    <div class="column is-8">
                        {% include '_special/video' with {
                            classes: "video-js-craftx",
                            sources: [{
                                src: resource|signedUrl,
                                type: "video/mp4"
                            }]
                        } %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endset %}
