{% set handle = craft.app.config.general.env == 'live' ? 'craftx' : 'dev-craftx' %}

{% if entry is defined and entry.section.handle in ['hangouts'] and entry.status == 'live' %}
    <script>
         var disqus_config = function () {
            this.page.url = '{{  entry.url }}';
            this.page.identifier = '{{ entry.id }}';
         };
        (function() {
            var d = document, s = d.createElement('script');

            s.src = 'https://{{ handle }}.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endif %}
