{% set showThread = entry is defined and entry.section.handle in ['blog', 'series'] and entry.status == 'live' and craft.app.config.get('env') in ['staging', 'dev'] %}

{% if showThread %}
    <script>
         var disqus_config = function () {
            this.page.url = '{{  entry.url }}';
            this.page.identifier = '{{ entry.id }}';
         };
        (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = 'https://dev-craftx.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endif %}
