<link rel="apple-touch-icon" sizes="180x180" href="/dist/images/favs/apple-touch-icon.png?v=2.0">
<link rel="icon" type="image/png" href="/dist/images/favs/favicon-32x32.png?v=2.0" sizes="32x32">
<link rel="icon" type="image/png" href="/dist/images/favs/favicon-16x16.png?v=2.0" sizes="16x16">
<link rel="manifest" href="/dist/images/favs/manifest.json?v=2.0">
<link rel="mask-icon" href="/dist/images/favs/safari-pinned-tab.svg?v=2.0" color="#00966c">
<link rel="shortcut icon" href="/dist/images/favs/favicon.ico?v=2.0">
<meta name="msapplication-config" content="/dist/images/favs/browserconfig.xml?v=2.0">
<meta name="theme-color" content="#ffffff">
