{% extends '_layout' %}
{% set id = 'index' %}
{% set title = 'Craft Training for Busy Developers' %}

{% set content %}
{% include '_includes/hero' %}
<section class="section is-medium section--why">
    <div class="container">
        <div class="columns has-vertically-centered-items">
            <div class="column is-half columns--clear-code"></div>
            <div class="column is-half">
                <h2 class="title is-1">Clear Code</h2>
                <p class="subtitle is-3">No squinting. Just large, beautiful text and consice snippets for maximun comprehansion.</p>
            </div>
        </div>
        <div class="columns has-vertically-centered-items">
            <div class="column columns--clean-sound"></div>
            <div class="column is-half">
                <h2 class="title is-1">Clean Sound</h2>
                <p class="subtitle is-3">No pops, hiss or monotone. Just clean, normalized audio for smooth listening.</p>
            </div>
        </div>
        <div class="columns has-vertically-centered-items">
            <div class="column columns--quick-pace"></div>
            <div class="column is-third">
                <h2 class="title is-1">Quick Pace</h2>
                <p class="subtitle is-3">No dozing off. Lessons are optimized to get you writing code and mastering Craft as quickly as possible.</p>
            </div>
        </div>
    </div>
</section>
<section class="section is-medium section--features">
    <div class="container">
        <div class="columns has-text-centered">
            <div class="column is-half">
                <h2 class="title is-2">Who is this for?</h2>
                <p class="subtitle is-4">
                    Material presented here is perfect for developers like you who want to get up and running with Craft CMS as quickly as possible. Who wants to acquire deep knowledge of the platform and go beyond toy apps and plugins.
                </p>
                <p class="subtitle is-4">
                    Rather than trying to serve every demographic, I want to focus on helping you get up to speed quickly or take your skills to the next level if you've been around the <em>Craft&nbsp;CMS&nbsp;block</em>.
                </p>
            </div>
            <div class="column is-half">
                <h2 class="title is-2">Who is behind this?</h2>
                <p class="subtitle is-4">
                    I'm <a href="https://twitter.com/selvinortiz" title="@selvinorti">Selvin</a>, a passionate web developer based in <a href="https://en.wikipedia.org/wiki/Minnesota" title="Minnesota, USA">Minnesota</a>. I've been building high quality products with Craft CMS since its first release.
                </p>
                <p class="subtitle is-4">
                    I previously led the development of many <em>Sprout Plugins</em> at <a href="http://barrelstrengthdesign.com">Barrel Strength</a> and helped launch the plugin store at <a href="http://straightupcraft.com">straightupcraft.com</a>
                </p>
                <p class="subtitle is-4">
                    I currently lead the development and oversee maintenance of all online properties at <a href="https://kingdomadvisors.com">Kingdom Advisors, Inc.</a>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="section is-medium section--thanks">
    <div class="container">
        <div class="columns has-text-centered">
            <div class="column is-half is-offset-3">
                <h2 class="title is-1">Thank You</h2>
                <p class="subtitle is-3">
                    A big thank you to those of you who have encouraged and supported me along the way.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="section is-medium section--subscribe">
    <div class="container">
        <div class="columns">
            <div class="column is-half-desktop is-offset-one-quarter-desktop">
                <div class="has-text-centered">
                    <h2 class="title is-2 is-inset">Craft X Spam Blaster</h2>
                    <p class="subtitle is-4 is-heavy is-inset">
                        Be notified about early access and the official launch.
                    </p>
                    <p class="subtitle is-5 is-inset">
                        <span class="icon"><i class="fa fa-bookmark"></i></span>
                        My newsletter uses the <strong>Double Opt-in</strong> method.
                        Meaning, you will have to confirm that you want to subscribe.
                        You are welcome <strong>;)</strong>
                    </p>
                </div>
                <form method="post" @submit.prevent="subscribeToNewsletter($event)">
                    <input type="hidden" name="action" value="swipe/newsletter/subscribe">
                    <input type="hidden" name="redirect" value="/newsletter/next">
                    {{ csrfInput() }}
                    <div class="control is-grouped subscribe-fields">
                        <div class="control has-icon is-expanded">
                            <input v-model="email" class="input is-large" type="email" placeholder="Email">
                            <span class="icon is-medium">
                                <i class="fa fa-envelope-square"></i>
                            </span>
                        </div>
                        <div class="control">
                            <button type="submit" class="button is-large is-primary" :class="{ 'is-loading': subscribing }">
                            <span class="icon"><i class="fa fa-check-circle"></i></span>
                            <span>Subscribe</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script src="https://checkout.stripe.com/checkout.js"></script>

{% endset %}
