{% if title is not empty %}
    <title>{{ title ~ ' | ' ~ siteName }}</title>
{% else %}
    <title>{{ siteName }}</title>
{% endif %}

<meta property="og:title" content="CraftX">
<meta property="og:type" content="website">
<meta property="og:url" content="https://craftx.io">
<meta property="og:image" content="https://craftx.io/dist/images/CraftXCardImage.png">
<meta property="og:description" content="Craft Training for Busy Developers">
<meta property="og:site_name" content="CraftX">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@craftxio">
<meta name="twitter:creator" content="@craftxio">
<meta name="twitter:title" content="https://craftx.io">
<meta name="twitter:image" content="https://craftx.io/dist/images/CraftXCardImage.png">
<meta name="twitter:description" content="Craft Training for Busy Developers">
